<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          

          <li class="nav-item" *ngIf="!isLogin">
            <a class="nav-link" type="button" (click) = "displayloginform()" >Đăng Nhập</a>
          </li>
          
          <li class="nav-item" *ngIf="!isLogin">
            <a class="nav-link" type="button" (click) = "displayreigisterform()" >Đăng Ký</a>
          </li>
          
          <li class="nav-item" *ngIf="isLogin">
            <a class="nav-link" type="button"  >Hello {{user.ten}}</a>
          </li>
          
          <li class="nav-item" *ngIf="isLogin" >
            <a class="nav-link" type="button" (click) = "logout()" >Thoát</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>

      </div>

      <div class="col-lg-9 app-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>



  <div class="container">
    


 <div class="modal fade login" id="loginModal">
      <div class="modal-dialog login animated">
          <div class="modal-content">
             <div class="modal-header" style="display: block;">
                    <button style="padding-right: 5px;padding-top: 5px;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                         <div class="content">
                          <!-- <div class="error"></div> -->
                          <div  *ngIf="alert != ''" class="alert alert-{{alert}}" role="alert">
                              <div>{{message}}</div>

                          </div>
                            <div class="form loginBox">
                                <form method="" action="" accept-charset="UTF-8">
                                <input id="email" class="form-control" type="text" placeholder="Username" name="username" [(ngModel)]="formlogin.username">
                                <input id="password" class="form-control" type="password" placeholder="Pass word" name="password" [(ngModel)]="formlogin.password" >
                                <input class="btn btn-default btn-login" type="button" value="Login" (click) = "login()">
                                </form>
                            </div>
                         </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                         <div class="form">
                            <form method="" html="{:multipart=>true}" data-remote="true" action="" accept-charset="UTF-8">
                              <input id ="fullname" class="form-control" type = "text" placeholder="Full Name" name = "fullname">
                              <input id ="email" class="form-control" type = "text" placeholder="Email" name = "email">
                              <input id ="phonenumber" class="form-control" type = "text" placeholder="Phone Number" name = "phonenumber">
                              <input id="username" class="form-control" type="text" placeholder="Username" name="username">
                              <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                              <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                              

                              <input class="btn btn-default btn-register" type="button" value="Create account" name="commit">
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
                        <span>Looking to
                             <a href="javascript:void(0)" (click)="showRegisterForm()" >create an account</a>
                        ?</span>
                    </div>
                    <div class="forgot register-footer" style="display:none">
                         <span>Already have an account?</span>
                         <a href="javascript:void(0)" (click)="showLoginForm()">Login</a>
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>
  


  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark ">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
